<h1>
    <%= title %>
</h1>

<p>
<ul>
    <li>Username: <%= user.name %>
    </li>
    <li>Email: <%= user.email %>
    </li>
</ul>

<form action="/users/sign-out">
    <input type="submit" name="Sign Out">
</form>

</p>